.contact-page {
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url('img/contact.jpg');
  justify-content:center;
}

.contact-content {
  text-align:center;
  padding: 30px;
  color: #E5E5E5;
}

.contact-content h4{
 font-size: 25px;
 margin: 0 0 50px;
}

.container-page p {
  font-size: 17px;
  margin: 0 0 0;

}

#contact {
  font-size: 30px;
}

.fa  {
  color: #E5E5E5;
}
