// #title-experience {
//   padding: 50px 0px 0px;
// }

.experiences-page {
  height: 100vh;
  display: flex;
  align-items: center;
}

.vimeo-container {
  display: flex;
  padding-top: 5px;
}

.vimeo {
  height: 200px;
}

.experience-container {
  margin: 30px 0 0;
  text-align: left;

  p {
    color: #858585;
  }
}

.archi {
  border-style: solid;
  border-width: 0.2px;
  border-color: #858585;
}


