.container-content {
  background-color: #C2C2C2;
  padding: 15px;
}

.vimeo-container {
  display: flex;
  justify-content: space-around;

  padding-top: 5px;
}

.container-experience {
  padding: 60px 0 0;
}

.text-container {
  padding-top: 20px;
  text-align: left;
}
