.modal-show-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  color:purple;

  &.is-active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-show {
  width: 50%;

  .track-card {
    margin: auto;
  }
}
