.skills-page {
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-skills {
  margin: 20px 0 0;
}

.column-skills {
  text-align: center;
}

.column-skills li{
  text-align: left;
  margin-left: 40%;
}


