<!-- <!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Hello, I'm Eden Laboda, I'm a Junior developer and this is my resume.">
  <meta name="author" content="Eden Laboda">
  <title>Eden Laboda</title>

  <meta property="og:title" content="Eden Laboda - Resume">
  <meta property="og:image" content="facebook-card.jpg">
  <meta property="og:description" content="Hello, I'm Eden Laboda, I'm a Junior developer and this is my resume.">
  <meta property="og:site_name" content="Eden Laboda"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
</html> -->

<!-- <body> -->
  <!-- Menu -->
  <ul class="nav navbar-nav">
    <li><a href="#home">Home<span class="sr-only"></span></a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#resume">Le resume</a></li>
    <li><a href="#skills">Les skills</a></li>
    <li><a href="#portfolio">Le portfolio</a></li>
    <li><a href="#contact">Le contact</a></li>
  </ul>

  <!-- Main -->
  <section class="main" id="home">
    <div class="page">
      <div class="wrapper">
        <div class="container">
          <h1 class="heading">Hello, I'm Eden Laboda and I'm a web-developper. Welcome!</h1>
          <p>
              <!-- <span class="rotate">Fullstack Developper, Ruby-ist, French, Dutch Lover, Surf Instructeur</span>
            </p>
          </div>
          <div class="arrow-down">
            <a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a> -->
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section class="section section section-solid" id="about">
      <h3 class="section-title">About</h3>
      <p> I'm starting a new life as a fullstack developer thanks to <a href="http://www.lewagon.org/en">Le Wagon bootcamp<img src="img/le_wagon.png"></a>.
        I love to build web applications with Ruby on Rails.
        Have a look at my Github account:

        <div class="text-center">
          <a href="https://github.com/edenlab"><img src="img/github.jpg" alt="github logo"></a>
          <br>
          <small><a href="https://github.com/edenlab">github.com/edenlab</a></small>
        </div>
      </p>

    </section>

    <!-- Resume -->
    <section class="section section section-solid" id="resume">
      <h3 class="section-title">Le resume</h3>
      <div>
        <div>
          <h3>Work Experience</h3>
          <div>
            <span>Now</span>
            <h4>Alumni at Le Wagon</h4>
            <p>Started the bootcamp as January 11th learning Ruby and Ruby on Rails on the backend</p>
          </div>
          <div>
            <span>2013-2015</span>
            <h4>Environmental Consultant</h4>
            <p>Studied feasibility & budget projections on different urban and environmental project like project EV3. Audeso, Paris</p>
          </div>
          <div>
            <span>2012-2013</span>
            <h4>Co-founder at Echelle 1:1</h4>
            <p>Startup in territorial marketing, using photography, videos and digital products to better understand the perception of people of their environment.</p>
          </div>
        </div>
      </div>
      <div>
        <h3>Education</h3>
        <div>
            <span>Now</span>
            <h4>Alumni at Le Wagon</h4>
            <p>Started the bootcamp as January 11th learning Ruby and Ruby on Rails on the backend</p>
          </div>
        <div>
        <span>2011</span>
        <h4>Master in Urban Planning and Urban policies - University of Lyon</h4>
        </div>
        <div>
        <span>2009</span>
        <h4>Bachelor in Geography and Environmental studies</h4>
        </div>
        <div>
        <span>2008</span>
        <h4>Bachelor in Law</h4>
        </div>
      </div>
      <div>
      <h3>Other experience</h3>
      <div>
      <h4>Travelling</h4>
      <p>6-month traveler in South-East Asia (February-August 2015)<p>
      </div>
      <div>
      <h4>Writing</h4>
      <p>I write articles for a french travel blog :
      <a href="http://www.babeltrotteur.fr/">Babel Trotter</a></p>
      </div>
      </div>
    </div>

  </section>

  <!-- Skills -->
  <section class="section section section-solid" id="skills">
    <h3 class="section-title">Les skills</h3>
    <ul class="section-skills">
      <h4>Talking with people</h4>
      <li>French - Native</li>
      <li>English - Fluent</li>
      <h4>Talking with machines</h4>
      <li>Ruby</li>
      <li>Ruby on Rails</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>SASS</li>
      <h4>Design Tools</h4>
      <li>Illustrator</li>
      <li>Photoshop</li>
      <li>InDesing</li>
    </ul>
  </section>

  <!-- Portfolio -->
  <section class="section section section-solid" id="portfolio">
    <h3 class="section-title">Le portfolio</h3>
  </section>

  <!-- Contact -->
  <section class="section section section-solid" id="contact">
    <h3 class="section-title">Le contact</h3>
    <div class="section-contact">

      <li><i class="fa fa-envelope-o"></i>
       eden.laboda@gmail.com</li>
       <li><i class="fa fa-phone"></i>
         +33 6 98 32 77 42</li>


       </div>

     </section>
<!--    </body> -->
