  <!-- Main -->
  <div class="banner" id="home">
    <div class="container">
      <div class="row">
        <div class="banner-content">
          <h1>Eden Laboda</h1>
        </div>
      </div>
      <div class="row">
        <div class="banner-navbar">
          <strong>
            <a href="#home" class="main-navbar-item main-navbar-link">Home</a>
            <a href="#about" class="main-navbar-item main-navbar-link">About</a>
            <a href="#resume" class="main-navbar-item main-navbar-link">Experience</a>
            <a href="#skills" class="main-navbar-item main-navbar-link">Skills</a>
            <a href="#portfolio" class="main-navbar-item main-navbar-link">Portfolio</a>
            <a href="#contact" class="main-navbar-item main-navbar-link">Contact</a>
          </strong>
        </div>
      </div>
    </div>
  </div>

  <!-- About -->
  <div class="pages about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
          <div class="about-container">
            <h3 class="section-title" id="title-about">About</h3>
            <h4>Watch out folks! A new developper is in town!</h4>
            <p>I'm starting a new life as a fullstack developer thanks to <a class="link-to" href="http://www.lewagon.org/en" target="_blank">Le Wagon Dev Bootcamp.</a> <img class="lewagon-picture" src="img/le_wagon.png" alt="Le Wagon">
              <br>
              From Paris, but living in lovely Amsterdam, I'm always looking for new challenges. Learning to code turned me into a nerd warrior. I love to build web applications with Ruby on Rails.
              <br>
              Have a look at my <a class="link-to" href="https://github.com/edenlab" target="_blank">Github account</a>.
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="picture-container">
           <img class="profile-picture" src="img/profile-pic.jpg">
         </div>
       </div>
     </div>
   </div>
 </div>


 <!-- Experience/ My life before coding -->
<div class="pages experiences-page" id="resume">
    <div class="container experience-container">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
          <div>
            <h3 class="section-title" id="title-experience">My life before coding</h3>
            <p>After a master in Urban Planning, I started my own company with 3 co-founders in territorial marketing. Using different medias like short clips, interactive maps and 360° visits, our goal was to show places and activities in a new innovative way, giving inhabitants keys to understand their environment.
            <br>
            I also worked three years as a freelance consultant for an architect and as an environmental consultant at a City Planning Agency in Paris.
            </p>
          </div>
        </div>
          <div class="col-xs-6 col-sm-4">
           <div class="vimeo-container">
          <a href="https://vimeo.com/41134006" target="_blank"><img class="vimeo" src="img/picture-vimeo.png"></a>
          </div>
          <div class="vimeo-container">
            <a><img class="archi" src="img/archi.png" style= "height:120px"></a>
            <a><img class="archi" src="img/archi2.png" style= "height:120px"></a>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>


<!-- Skills -->
<div class="pages skills-page" id="skills">
  <div class="container-page">
    <h3 class="section-title" id="title-skills">My skills: going 2.0 !</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="column-skills">
            <h4>Talking with people</h4>
            <ul class="section-skills">
              <li>French - Native</li>
              <li>English - Fluent</li>
              <li>Dutch - Struggling but holding on!</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4">
        <div class="column-skills">
          <h4>Talking with machines</h4>
          <ul class="section-skills">
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>SASS</li>
          </ul>
          </div>
        </div>
        <div class="col-xs-4">
        <div class="column-skills">
          <h4>Design and developing tools</h4>
          <ul class="section-skills">
            <li>MVP</li>
            <li>Git & Github</li>
            <li>Sublime Text</li>
            <li>Illustrator</li>
            <li>Photoshop</li>
            <li>InDesign</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Portfolio -->
<div class="pages" id="portfolio" style="background: url('img/look-at-this.jpg');">
  <h3 class="section-title">My Portfolio</h3>
  <a href='http://track-it.co' target='_blank' ><img class="project" src="img/track-it.png"></a>
</div>

<!-- Contact -->
<div class="pages contact-page">
  <div class="container-page">
    <div class="contact-content">
      <h3 class="section-title" id="contact">Contact</h3>
      <h4 style="font-family: 'Satisfy', cursive;">Wondering how to find me?</h4>
      <p>
        <i class="fa fa-envelope-o"></i>
        eden.laboda@gmail.com</br>
        <i class="fa fa-phone"></i>
        +33 6 98 32 77 42</br>
        <a href="https://nl.linkedin.com/in/eden-laboda-355b783b"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://github.com/edenlab"><i class="fa fa-github logo-style fa-2x"></i></a>
      </p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="app.js"></script>

